# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Environment variables
.env

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/

# Logs
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python packaging
*.egg-info/
dist/
build/

# Coverage / testing
.coverage
htmlcov/

# Pytest cache
.pytest_cache/

# Migrations cache (not the migrations folder)
*.pyc
